<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/resources/templates/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html">
    <ui:param name="pageTitle" value="#{i18n.about}" />

    <ui:define name="content">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">
                        #{i18n.app} <small> #{i18n.about_greeting} </small>
                    </h1>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <img class="img-responsive" src="../resources/img/ico/logo.png" alt="#{i18n.app}"/>
                </div>
                <div class="col-md-6">
                    <h2> #{i18n.about_welcome} #{i18n.app}</h2>
                    <p> #{i18n.about_us}.</p>

                </div>

            </div>




        </div>
        <!-- /.container -->



    </ui:define>
</ui:composition>
