<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/accounttemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="#{i18n.add_book}" />
	<ui:define name="account-content">
		<div class="form form-small">
			<!-- Edit profile form (not working)-->
			<h:form class="form-horizontal" id="bookform">
				<!-- Level -->
				<div class="form-group">
					<div class="col-md-6">
						<h:selectOneMenu value="#{newBook.level}"
							valueChangeListener="#{bookBean.levelChanged}" id="level">
							<f:selectItem itemLabel="#{i18n.select_level}" itemValue="" />
							<f:selectItems value="#{bookBean.getLevels()}" var="level"
								itemLabel="#{level.name}" itemValue="#{level}" />
							<p:ajax update="bookform:subject,bookform:sublevel"
								event="change" />
						</h:selectOneMenu>
						<p:message for="level" id="levelError" />
					</div>
				</div>
				<!-- Subject -->
				<div class="form-group">
					<div class="col-md-6">
						<h:selectOneMenu value="#{newBook.subject}" id="subject"
							disabled="#{empty newBook.level || newBook.level eq 'Recreational'}">
							<f:selectItem itemLabel="#{i18n.select_subject}" itemValue="" />
							<f:selectItems value="#{bookBean.getSubjects()}" var="subject"
								itemLabel="#{subject}" itemValue="#{subject}" />
						</h:selectOneMenu>
						<p:message for="subject" id="subjectError" />
					</div>
				</div>

				<!-- SubLevel/Class -->
				<div class="form-group">
					<div class="col-md-6">
						<h:selectOneMenu value="#{newBook.sublevel}" id="sublevel"
							disabled="#{empty newBook.level || newBook.level eq 'Higher' || newBook.level eq 'Recreational'}">
							<f:selectItem itemLabel="#{i18n.select_class}" itemValue="" />
							<f:selectItems value="#{bookBean.getSubLevels()}" var="sublevel"
								itemLabel="#{sublevel}" itemValue="#{sublevel}" />
						</h:selectOneMenu>
						<p:message for="sublevel" id="sublevelError" />
					</div>
				</div>

				<!-- Title -->
				<div class="form-group">

					<h:outputLabel class="control-label col-md-1" for="title"
						value="#{i18n.book_title}" />
					<div class="col-md-6">
						<p:autoComplete id="title" value="#{newBook.title}"
							completeMethod="#{bookBean.completeTitle}" maxResults="5"
							minQueryLength="2" required="true"
							requiredMessage="#{i18n.title_filled}">
						</p:autoComplete>
						<p:message for="title" id="titleError" />
					</div>
				</div>

				<!-- Publisher -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-1" for="publisher"
						value="#{i18n.book_publisher}" />
					<div class="col-md-6">
						<p:autoComplete id="publisher" value="#{newBook.publisher}"
							completeMethod="#{bookBean.completePublisher}" maxResults="5"
							minQueryLength="2" required="true"
							requiredMessage="#{i18n.publisher_filled}" />
						<p:message for="publisher" id="publisherError" />
					</div>
				</div>
				<div class="form-group">

					<h:outputLabel class="control-label col-md-1" for="title"
						value="#{i18n.book_price}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="price"
							value="#{newBook.price}" required="true"
							requiredMessage="#{i18n.price_filled}"
							converterMessage="#{i18n.price_valid}">
						</p:inputText>
						<p:message for="price" id="priceError" />
					</div>
				</div>
				<div class="form-group">
					<h:outputLabel class="control-label col-md-1" for="file"
						value="#{i18n.book_image}" />
					<div class="col-md-6">
						<p:fileUpload id="file" value="#{newBook.file}"
							allowTypes="/(\.|\/)(bmp|jpe?g|png)$/" sizeLimit="1000000"
							update="msg" />
						<p:growl id="msg" />
					</div>
				</div>
				<!-- Buttons -->
				<div class="form-group">
					<!-- Buttons -->
					<div class="col-md-3 col-md-offset-3">
						<p:commandButton class="btn btn-default"
							value="#{i18n.add_book}" update="bookform"
							action="#{userBean.addBook()}" validateClient="true" />
						<p:commandButton type="reset" update="bookform"
							class="btn btn-default" value="#{i18n.reset}" />
					</div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>