<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/resources/templates/template.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<ui:param name="pageTitle" value="#{i18n.contact}" />

	<ui:define name="content">


		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">
					#{i18n.contact_us} <small> #{i18n.contact_greeting}</small>
				</h1>
			</div>

		</div>
		<!-- /.row -->

		<div class="row">

			<div class="col-sm-7">


				<h:form role="form" id="messageform"
					action="#{userBean.sendMessage}">

					<div class="row">
						<div class="form-group col-md-5">
							<h:outputLabel for="contact_name" value="#{i18n.name}" />
							<p:inputText id="contact_name" class="form-control"
								value="#{userMessageBean.userName}" required="true"
								requiredMessage="#{i18n.name_filled}"
								validatorMessage="#{i18n.name_valid}">
								<f:validateRegex pattern="^[a-zA-Z0-9-' ]{2,30}$" />
							</p:inputText>
							<p:message for="contact_name" />
							<h:outputText value="" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-5">
							<h:outputLabel for="contact_email" value="#{i18n.email}" />
							<p:inputText id="contact_email" class="form-control"
								value="#{userMessageBean.userEmail}" required="true"
								requiredMessage="#{i18n.email_filled}"
								validatorMessage="#{i18n.email_valid}">
								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							</p:inputText>
							<p:message for="contact_email" />
							<h:outputText value="" />
						</div>
					</div>
					<div class="row">
						<div class="clearfix"></div>
						<div class="form-group col-lg-12">
							<h:outputLabel for="contact_message" value="#{i18n.message}" />
							<p:inputTextarea id="contact_message" class="form-control"
								rows="6" value="#{userMessageBean.message}" required="true"
								requiredMessage="#{i18n.message_filled}" />
							<p:message for="contact_message" />
							<h:outputText value="" />

						</div>
						<div class="form-group col-lg-12">
							<h:inputHidden id="hidden" value="#{userMessageBean.hiddenValue}" />
							<h:commandButton class="btn btn-primary btn-left"
								value="#{i18n.submit}" action="#{userBean.sendMessage}" update="messageform" validateClient="true" />
						</div>
					</div>
				</h:form>
			</div>

			<div class="col-sm-5">
				<h3>#{i18n.app}</h3>
				<h4>#{i18n.app_details}</h4>
				<p>
					<i class="glyphicon glyphicon-phone"></i> <abbr
						title="#{i18n.phone}">P</abbr>: #{i18n.phone_number}
				</p>
				<p>
					<i class="glyphicon glyphicon-envelope"></i> <abbr
						title="#{i18n.email}">E</abbr>: <a href="mailto:#{i18n.feedback}">#{i18n.feedback}</a>
				</p>
				<p>
					<i class="glyphicon glyphicon-time"></i> <abbr
						title="#{i18n.hours}">H</abbr>: #{i18n.hours_details}
				</p>
			</div>

		</div>
		<!-- /.row -->



	</ui:define>
</ui:composition>
