<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/accounttemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="Edit Profile" />
	<ui:define name="account-content">
		<!-- Title -->
		<h5 class="title">#{i18n.editProfile}</h5>

		<div class="form form-small">
			<!-- Edit profile form (not working)-->
			<h:form class="form-horizontal" id="editform">
				<!-- FirstName -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="firstName"
						value="#{i18n.firstName}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="firstName"
							value="#{userBean.loggedInUser.firstName}" required="true"
							requiredMessage="#{i18n.firstName_filled}"
							validatorMessage="#{i18n.name_valid}">
							<f:validateRegex pattern="^[a-zA-Z0-9-' ]{2,30}$" />
						</p:inputText>
						<p:message for="firstName" />
						<h:outputText value="" />
					</div>
				</div>
				<!-- LastName -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="lastName"
						value="#{i18n.lastName}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="lastName"
							value="#{userBean.loggedInUser.lastName}" required="true"
							requiredMessage="#{i18n.lastName_filled}"
							validatorMessage="#{i18n.name_valid}">
							<f:validateRegex pattern="^[a-zA-Z0-9-' ]{2,30}$" />
						</p:inputText>
						<p:message for="lastName" />
						<h:outputText value="" />
					</div>
				</div>
				<!-- Email -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="email"
						value="#{i18n.email}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="email"
							value="#{userBean.loggedInUser.email}" required="true"
							requiredMessage="#{i18n.email_filled}"
							validatorMessage="#{i18n.email_valid}">
							<f:validateRegex
								pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
						</p:inputText>
						<p:message for="email" />
						<h:outputText value="" />
					</div>
				</div>

				<!-- Username -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="username"
						value="#{i18n.username}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="username"
							value="#{userBean.loggedInUser.username}" required="true"
							requiredMessage="#{i18n.username_filled}"
							validatorMessage="#{i18n.username_valid}">
							<f:validateRegex pattern="^[a-z0-9_-]{4,20}$" />
						</p:inputText>
						<p:message for="username" />
						<h:outputText value="" />
					</div>
				</div>
				<!-- Password -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="password"
						value="#{i18n.password}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="password"
							value="#{userBean.loggedInUser.password}" required="true"
							requiredMessage="#{i18n.pwd_filled}"
							validatorMessage="#{i18n.pwd_valid}" >
							<f:validateLength minimum="4" maximum="8" />
						</p:inputText>
						<p:message for="password" />
						<h:outputText value="" />
					</div>
				</div>
				<!-- Telephone -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="tel"
						value="#{i18n.tel}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="tel"
							value="#{userBean.loggedInUser.address.mobileNumber}"
							required="true" requiredMessage="#{i18n.tel_filled}"
							validatorMessage="#{i18n.tel_valid}">
							<f:validateRegex pattern="^7[0-9]{8}" />
						</p:inputText>
						<p:message for="tel" />
						<h:outputText value="" />
					</div>
				</div>

				<!-- Town -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="town"
						value="#{i18n.town}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="town"
							value="#{userBean.loggedInUser.address.town}" required="true"
							requiredMessage="#{i18n.town_filled}">
						</p:inputText>
						<p:message for="town" />
						<h:outputText value="" />
					</div>
				</div>
				<!-- PO Box -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="box"
						value="#{i18n.box}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="box"
							value="#{userBean.loggedInUser.address.box}"
							required="true" requiredMessage="#{i18n.box_filled}"
							validatorMessage="#{i18n.box_valid}">
							<f:validateRegex pattern="[\d]{1,6}" />
						</p:inputText>
						<p:message for="box" />
						<h:outputText value="" />
					</div>
				</div>

				<!-- Postal Code -->
				<div class="form-group">
					<h:outputLabel class="control-label col-md-3" for="postal"
						value="#{i18n.postal}" />
					<div class="col-md-6">
						<p:inputText class="form-control" id="postal"
							value="#{userBean.loggedInUser.address.postalCode}"
							required="true" requiredMessage="#{i18n.postal_filled}"
							validatorMessage="#{i18n.postal_valid}">
							<f:validateRegex pattern="[\d]{1,5}" />
						</p:inputText>
						<p:message for="box" />
						<h:outputText value="" />
					</div>
				</div>

				<!-- Buttons -->
				<div class="form-group">
					<!-- Buttons -->
					<div class="col-md-3 col-md-offset-3">
						<h:commandButton type="submit" class="btn btn-default"
							value="#{i18n.update}" action="#{userBean.editUser}"
							update="editform" icon="ui-icon-check" validateClient="true" />
						<h:commandButton type="reset" class="btn btn-default"
							value="#{i18n.reset}" />
					</div>
				</div>
			</h:form>
		</div>


	</ui:define>
</ui:composition>