<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/resources/templates/template.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<ui:param name="pageTitle" value="#{i18n.home}" />
	<ui:define name="content">

		<h:form id="main">
			<div class="container">
				<div class="col-sm-12">
					<div class="well">
						<div id="carousel" class="carousel slide">
							<div class="carousel-inner">
								<ui:repeat value="#{bookBean.getRandomBookNumbers()}" var="randomBook"
									varStatus="loopStatus">
									<div class="#{loopStatus.first ? 'item active':'item'}">
										<div class="row">
											<h:commandLink action="#{userBean.viewBookFromId(randomBook)}">
												<img class="img-responsive" src="/bookimages/#{randomBook}.jpg" alt="#{i18n.book_image}"/>
											</h:commandLink>

										</div>
										<!--/row-->
										<div class="carousel-caption">
											<p>
												<h:commandButton class="btn btn-lg btn-primary"
													value="#{i18n.view_book}"
													action="#{userBean.viewBookFromId(randomBook)}" role="button">
												</h:commandButton>
											</p>
										</div>
									</div>
								</ui:repeat>
							</div>
							<a class="right carousel-control" href="#carousel"
								data-slide="next">›</a>
						</div>
					</div>
				</div>
			</div>
			<div class="items">

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="title">#{i18n.recently}</h3>
						</div>
					</div>

					<div class="row">
						<ui:repeat value="#{bookBean.getLatestBooks(4,1)}" var="book">
							<!-- Book -->
							<div class="col-md-3 col-sm-4">
								<div class="item">
									<!-- Book image -->
									<div class="item-image">
										<h:commandLink action="#{userBean.viewBook(book)}">
											<img class="img-responsive" src="/bookimages/#{book.id}.jpg" alt="#{i18n.book_image}"/>
										</h:commandLink>
									</div>
									<!-- Book details -->
									<div class="item-details">
										<!-- Name -->
										<h5>
											<h:commandLink action="#{bookBean.viewBook(book)}">
											</h:commandLink>
											<span class="icon"><h:graphicImage
													class="img-responsive" value="/resources/img/ico/new.png" /></span>
										</h5>
										<div class="clearfix"></div>
										<!-- Para. Note more than 2 lines. -->
										<p>#{book.category.subject} - #{book.category.subLevel}</p>

										<hr />
										<div class="button pull-right">
											<h:commandLink action="#{userBean.viewBook(book)}"
												value="#{i18n.view_details}">
											</h:commandLink>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>

						</ui:repeat>
					</div>

					<div class="row">

						<ui:repeat value="#{bookBean.getLatestBooks(4,5)}" var="book">
							<!-- Book -->
							<div class="col-md-3 col-sm-4">
								<div class="item">
									<!-- Book image -->
									<div class="item-image">
										<h:commandLink action="#{userBean.viewBook(book)}">
											<img class="img-responsive" src="/bookimages/#{book.id}.jpg" alt="#{i18n.book_image}"/>
										</h:commandLink>
									</div>
									<!-- Book details -->
									<div class="item-details">
										<!-- Name -->
										<h5>
											<h:commandLink action="#{userBean.viewBook(book)}">
											</h:commandLink>
											<span class="icon"><h:graphicImage
													class="img-responsive" value="/resources/img/ico/new.png" /></span>
										</h5>
										<div class="clearfix"></div>
										<!-- Para. Note more than 2 lines. -->
										<p>#{book.category.subject} - #{book.category.subLevel}</p>

										<hr />
										<div class="button pull-right">
											<h:commandLink action="#{userBean.viewBook(book)}"
												value="#{i18n.view_details}">
											</h:commandLink>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>

						</ui:repeat>

					</div>

				</div>

			</div>
		</h:form>

	</ui:define>
</ui:composition>
