<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/accounttemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="#{i18n.myAccount}" />
	<ui:define name="account-content">
		<!-- Your details -->
		<div class="address">
			<address>
				<!-- Your name -->
				<p>
					<strong>#{userBean.loggedInUser.firstName}
						#{userBean.loggedInUser.lastName}</strong>
				</p>
				<p>#{userBean.loggedInUser.username}</p>
				<p>#{userBean.loggedInUser.address.town}</p>
				<p>#{userBean.loggedInUser.address.box} -
					#{userBean.loggedInUser.address.postalCode}</p>

				<!-- Phone number -->
				<abbr title="Phone">P:</abbr>
				#{userBean.loggedInUser.address.mobileNumber}<br /> <a
					href="mailto:#">#{userBean.loggedInUser.email}</a>
			</address>
			<h:form>
				<p:commandButton type="button" onclick="PF('deleteAccount').show()" class="button" value="#{i18n.delete_account}"/>
				<p:confirmDialog message=""
					header="#{i18n.delete_process}" severity="alert" widgetVar="deleteAccount">
					<p:commandButton value="#{i18n.delete_sure}"
						action="#{userBean.deleteAccount}"
						oncomplete="PF('deleteAccount').hide()" />
					<p:commandButton value="#{i18n.delete_cancel}" onclick="PF('deleteAccount').hide();"
						type="button" />
				</p:confirmDialog>
			</h:form>
		</div>
	</ui:define>
</ui:composition>