<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/accounttemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="My Books" />
	<ui:define name="account-content">
		<!-- Main content -->
		<h5 class="title">#{i18n.myBooks}</h5>
		<h:outputText rendered="#{!userBean.userHasBooks()}">#{i18n.user_no_books}</h:outputText>
		<h:form id="mybooks" rendered="#{userBean.userHasBooks()}">
			<p:dataTable class="" styleClass="table table-striped tcart"
				value="#{userBean.loggedInUser.userBooks}" var="userbook"
				rowIndexVar="rowIndex" paginator="true"
				paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
				paginatorPosition="bottom" rows="5">
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.numbering}" />
					</f:facet>
					<h:outputText id="number" value="#{rowIndex + 1}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.book_title}" />
					</f:facet>
					<h:commandLink action="#{userBean.viewBook(userbook.book)}"
						value="#{userbook.book.title}">
					</h:commandLink>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.book_price}" />
					</f:facet>
					<h:outputText id="price" value="#{userbook.price}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.book_title}" />
					</f:facet>
					<h:commandLink action="#{userBean.removeUserBook(userbook)}"
						value="#{i18n.book_remove}">
					</h:commandLink>
				</p:column>

			</p:dataTable>

		</h:form>
		<p:commandButton type="submit" class="button" value="#{i18n.add_book}"
			action="addbook.faces?faces-redirect=true" />
	</ui:define>
</ui:composition>