<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/templates/accounttemplate.xhtml">

	<ui:param name="pageTitle" value="My Inbox" />
	<ui:define name="account-content">
		<!-- title -->
		<h5 class="title">#{i18n.myInbox}</h5>

		<h:form id="inboxform">
			<h:outputText disabled="#{!userBean.userHasInbox()}">#{i18n.empty_inbox}</h:outputText>
			<p:dataTable var="inbox" value="#{userBean.loggedInUser.userInboxes}"
				paginator="true" selection="#{userBean.selectedInbox}"
				selectionMode="single"
				paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
				paginatorPosition="bottom" rows="5"
				rendered="#{userBean.userHasInbox()}" rowKey="#{inbox.id}"
				id="inboxtable"
				rowStyleClass="#{inbox.readStatus == 'U'? 'unread' : ''}"
				onRowSelectUpdate="displayInbox">

				<p:column sortBy="dateOfMessage"
					sortFunction="#{userBean.sortByLatestDateFirst}">
					<f:facet name="header">
						<h:outputText value="#{i18n.request_date}" />
					</f:facet>
					<h:outputText value="#{inbox.dateOfMessage}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.requester}" />
					</f:facet>
					<h:commandLink value="#{inbox.bookRequest.requester.username}"
						action="#{userBean.viewUser(inbox.bookRequest.requester)}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.request_type}" />
					</f:facet>
					<h:outputText value="#{inbox.message.name}" />
				</p:column>


				<f:facet name="footer">
					<p:commandButton id="viewButton" value="#{i18n.view_inbox}"
						oncomplete="PF('inboxViewer').show()"
						actionListener="#{userBean.updateReadStatus}"
						update=":sidebar :inboxform:displayInbox :inboxform" />
					<p:commandButton id="deleteButton" value="#{i18n.delete}"
						onclick="PF('confirmDelete').show()" class="button" />
				</f:facet>
			</p:dataTable>
			<p:confirmDialog message="#{i18n.request_delete_msg}"
				header="#{i18n.delete_inbox}" severity="alert"
				widgetVar="confirmDelete">
				<p:commandButton value="#{i18n.delete_sure}"
					action="#{userBean.deleteInbox}"
					onclick="PF('confirmDelete').hide()" update=":inboxform" />
				<p:commandButton value="#{i18n.delete_cancel}"
					onclick="PF('confirmDelete').hide();" type="button" />
			</p:confirmDialog>
			<p:dialog header="#{i18n.request_details}" widgetVar="inboxViewer"
				resizable="true" width="300" showEffect="explode"
				hideEffect="explode" modal="true" height="200">

				<h:panelGrid id="displayInbox" columns="1" cellpadding="4">

					<h:outputLabel for="name" value="#{i18n.name}:" />
					<h:outputText
						value="#{userBean.selectedInbox.bookRequest.requester.firstName} #{userBean.selectedInbox.bookRequest.requester.lastName} "
						id="name" />
					<h:outputLabel for="email" value="#{i18n.email}:" />
					<h:outputText
						value="#{userBean.selectedInbox.bookRequest.requester.email}"
						id="email" />
					<h:outputLabel for="number" value="#{i18n.tel}:" />
					<h:outputText
						value="#{userBean.selectedInbox.bookRequest.requester.address.mobileNumber}"
						id="number" />
					<h:outputLabel for="book" value="#{i18n.book_requested}:" />

					<h:outputText
						value="#{userBean.selectedInbox.bookRequest.book.title}" id="book" />
					<br />
					<h:outputText
						value="#{i18n.request_message} #{userBean.selectedInbox.bookRequest.requester.firstName} #{i18n.request_message_end}" />
				</h:panelGrid>
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>