<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/accounttemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="My Wishlist" />
	<ui:define name="account-content">

		<!-- Main content -->
		<h5 class="title">#{i18n.wishlist}</h5>
		<h:outputText rendered="#{userBean.userHasEmptyWishlist()}">#{i18n.user_empty_wishlist}</h:outputText>
		<h:form id="wishlist" rendered="#{!userBean.userHasEmptyWishlist()}">
			<p:dataTable class="" styleClass="table table-striped tcart"
				value="#{userBean.loggedInUser.booksInWishList}" var="book"
				rowIndexVar="rowIndex" paginator="true"
				paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
				paginatorPosition="bottom" rows="5">
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.numbering}" />
					</f:facet>
					<h:outputText id="number" value="#{rowIndex+1}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.book_title}" />
					</f:facet>
					<h:commandLink action="#{userBean.viewBook(book)}"
						value="#{book.title}">
					</h:commandLink>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="#{i18n.book_title}" />
					</f:facet>
					<h:commandLink action="#{userBean.removeBookFromWishlist(book)}"
						value="#{i18n.wishlist_remove}">
					</h:commandLink>
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>