<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/bookstemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="books-content">
		<h4 class="pull-left">#{i18n.secondary} Books</h4>
		<h:form id="secondary">
			<!-- Subject Filtering -->
			<div class="form-group pull-right">
				<h:outputLabel value="#{i18n.select_subject}" for ="subject"/>
				<h:selectOneMenu value="#{bookBean.subject}"
					valueChangeListener="#{bookBean.subjectChanged}" id="subject"
					class="form-control">
					<f:selectItems value="#{bookBean.getSecondarySubjects()}"
						var="subject" itemLabel="#{subject}" itemValue="#{subject}" />
					<p:ajax update="secondary:grid" event="change" />
				</h:selectOneMenu>
			</div>
			<div class="clearfix"></div>
			<p:dataGrid var="book" value="#{bookBean.books}" columns="3" rows="9"
				styleClass="row" paginator="true"
				paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
				paginatorPosition="bottom" paginatorAlwaysVisible="false" id="grid">
				<p:column styleClass="col-md-4 col-sm-6" >
					<div class="item">
						<!-- Book image -->
						<div class="item-image">
							<h:commandLink action="#{userBean.viewBook(book)}">
								<img class="img-responsive" src="/bookimages/#{book.id}.jpg" alt="#{i18n.book_image}"/>
							</h:commandLink>
						</div>
						<!-- Book details -->
						<div class="item-details">
							<!-- Name -->
							<h5>
								<h:commandLink action="#{userBean.viewBook(book)}">
								</h:commandLink>
							</h5>
							<div class="clearfix"></div>
							<!-- Para. Note more than 2 lines. -->
							<p>#{book.category.subject} - #{book.category.subLevel}</p>

							<hr />
							<div class="button pull-right">
								<h:commandLink action="#{userBean.viewBook(book)}"
									value="#{i18n.view_details}">
								</h:commandLink>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</p:column>
			</p:dataGrid>

		</h:form>

	</ui:define>
</ui:composition>