<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{localeBean.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://xmlns.jcp.org/jsf/core" contentType="text/html"
	encoding="UTF-8">

	<h:head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>#{i18n.app} - #{i18n.signIn}</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Bootstrap core CSS -->
		<h:outputStylesheet name="css/bootstrap.min.css" />
		<h:outputStylesheet name="css/signin.css" />
		<h:outputStylesheet name="css/blue.css" />


	</h:head>

	<h:body>

		<!--login modal-->
		<div id="loginModal" class="modal show" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="text-center">#{i18n.signIn}</h1>
					</div>
					<div class="modal-body">

						<h:form class="form col-md-12 center-block" id="signinform">
							<h:messages class="alert alert-danger"></h:messages>
							<div class="form-group">
								<h:inputText value="#{credentialsBean.id}"
									class="form-control input-lg" id="username" required="true"
									requiredMessage="#{i18n.username_filled}"  pt:placeholder="#{i18n.signin_holder}"/>
							</div>
							<div class="form-group">
								<h:inputSecret value="#{credentialsBean.password}"
									class="form-control input-lg" id="password" required="true"
									requiredMessage="#{i18n.pwd_filled}" />
							</div>
							<div class="form-group">
								<h:commandButton action="#{userBean.logIn()}"
									class="btn btn-primary btn-lg btn-block" value="#{i18n.signIn}"
									update="signinform" validateClient="true" />
								<span class="pull-right"><h:outputLink
										value="#{request.contextPath}/pages/signup.xhtml" class="btn">#{i18n.signUp}</h:outputLink></span>
							</div>
						</h:form>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<h:outputLink value="#{request.contextPath}/pages/main.xhtml"
								class="btn">#{i18n.signincancel}</h:outputLink>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Placed at the end of the document so the pages load faster -->
		<h:outputScript name="js/jquery.js" />
		<h:outputScript name="js/bootstrap.min.js" />
	</h:body>
</f:view>
</html>