<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/accounttemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="User" />
	<ui:define name="account-content">

		<h:outputText rendered="#{userBean.userIsNull}">#{i18n.user_null}</h:outputText>
		<!-- User details -->
		<h:form id="viewuserform" rendered="#{!userBean.userIsNull}">
			<div class="product-main">
				<div class="row">
					<div class="col-md-6 col-sm-6">

						<!-- Image -->
						<div class="thumbnail">
							<span class="glyphicon glyphicon-user"></span>
						</div>

					</div>
					<div class="col-md-6 col-sm-6">
						<!-- Title -->
						<h4 class="title">#{userBean.viewedUser.username}</h4>
						<p>#{userBean.viewedUser.gender eq "M" ? i18n.mr : i18n.ms}
							#{userBean.viewedUser.firstName} #{userBean.viewedUser.lastName}
						</p>
					</div>
				</div>
			</div>

			<br />

			<!-- User Prices -->

			<ul class="nav nav-tabs">
				<li class="active"><h:link href="#tab1" data-toggle="tab"
						value="#{i18n.user_book}" /></li>
			</ul>

			<!-- Tab Content -->
			<div class="tab-content">
				<!-- Description -->
				<div class="tab-pane active" id="tab1">

					<p:dataTable class="" styleClass="table table-striped tcart"
						value="#{userBean.viewedUser.userBooks}" var="userbook"
						rowIndexVar="rowIndex" paginator="true"
						paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
						paginatorPosition="bottom" rows="5">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{i18n.numbering}" />
							</f:facet>
							<h:outputText id="number" value="#{rowIndex+1}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{i18n.book_title}" />
							</f:facet>
							<h:commandLink action="#{userBean.viewBook(userbook.book)}"
								value="#{userbook.book.title}">
							</h:commandLink>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{i18n.user_book_price}" />
							</f:facet>
							<h:outputText value="#{userbook.price}" />
						</p:column>
						<p:column>
							<h:commandLink
								action="#{userBean.placeRequest(userbook.user,userbook.book,'S')}"
								value="#{i18n.swap}">
							</h:commandLink>
						</p:column>
						<p:column>
							<h:commandLink
								action="#{userBean.placeRequest(userbook.user,userbook.book,'P')}"
								value="#{i18n.purchase}">
							</h:commandLink>
						</p:column>

					</p:dataTable>
				</div>

			</div>
		</h:form>

	</ui:define>
</ui:composition>