<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/template.xhtml">

	<ui:param name="pageTitle" value="Account" />
	<ui:define name="content">
		<!-- My Account -->

		<div class="items">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<h:form id="sidebar">
							<nav>
							<ul id="navi">
								<li><h:outputLink
										value="#{request.contextPath}/pages/myaccount.xhtml">#{i18n.myAccount}</h:outputLink></li>
								<li><h:outputLink
										value="#{request.contextPath}/pages/mybooks.xhtml">#{i18n.myBooks}</h:outputLink></li>
								<li><h:outputLink
										value="#{request.contextPath}/pages/mywishlist.xhtml">#{i18n.myWishList}</h:outputLink></li>
								<li><h:outputLink
										value="#{request.contextPath}/pages/myinbox.xhtml" id="inbox">#{i18n.myInbox} <span
											class="badge">#{userBean.userHasInbox()?
											userBean.getUnreadUserInbox() : ''}</span>
									</h:outputLink></li>
								<li><h:outputLink
										value="#{request.contextPath}/pages/editprofile.xhtml">#{i18n.editProfile}</h:outputLink></li>
							</ul>
							</nav>
						</h:form>
					</div>

					<!-- Main content -->
					<div class="col-md-9 col-sm-9">
						<ui:insert name="account-content">Default Content</ui:insert>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
