<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/template.xhtml">

	<ui:param name="pageTitle" value="Books" />
	<ui:define name="content">

		<div class="items">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".nav">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="row">

					<!-- Sidebar -->
					<div class="col-md-3 col-sm-3">

						<h5 class="title">Categories</h5>
						<!-- Sidebar navigation -->
						<nav> <h:form id="sidebarform">
							<ul id="nav">
								<!-- Main menu. Use the class "has_sub" to "li" tag if it has submenu. -->
								<li class="has_sub"><h:link outcome="#"
										value="#{i18n.primary}" /> <!-- Submenu -->
									<ul>
										<ui:repeat value="#{bookBean.getPrimarySublevels()}"
											var="sublevel">
											<li><h:commandLink
													action="#{bookBean.selectPrimarySublevel(sublevel)}"
													value="#{sublevel}">
												</h:commandLink></li>
										</ui:repeat>

									</ul></li>
								<li class="has_sub"><h:link outcome="#"
										value="#{i18n.secondary}" />
									<ul>
										<ui:repeat value="#{bookBean.getSecondarySublevels()}"
											var="sublevel">
											<li><h:commandLink
													action="#{bookBean.selectSecondarySublevel(sublevel)}"
													value="#{sublevel}">
												</h:commandLink></li>
										</ui:repeat>
									</ul></li>
								<li class="has_sub"><h:commandLink
										action="#{bookBean.selectHigherLevel()}"
										value="#{i18n.higher}">
									</h:commandLink></li>
								<li class="has_sub"><h:commandLink
										action="#{bookBean.selectRecreationalLevel()}"
										value="#{i18n.recreational}">
									</h:commandLink></li>
							</ul>
						</h:form> </nav>
						<br />
					</div>


					<!-- Main content -->
					<div class="col-md-9 col-sm-9">
						<ui:insert name="books-content">Default Content</ui:insert>
					</div>



				</div>
			</div>
		</div>




	</ui:define>


	<body>

	</body>
</ui:composition>
