<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<f:view locale="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" contentType="text/html"
	encoding="UTF-8">
	<!--HEAD-->
	<h:head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>#{empty pageTitle ? i18n.app : pageTitle}</title>
		<link rel="shortcut icon" href="../resources/img/ico/favicon.ico" />

		<!-- Bootstrap core CSS -->
		<h:outputStylesheet name="css/bootstrap.min.css" />
		<!-- Custom styles for this template -->
		<h:outputStylesheet name="css/style.css" rel="stylesheet" />
		<h:outputStylesheet name="css/blue.css" rel="stylesheet" />
		<h:outputStylesheet name="css/custom.css" rel="stylesheet" />
		<h:outputScript library="primefaces" name="jquery/jquery.js" />
		<h:outputScript library="js" name="bootstrap.min.js" />
		<h:outputScript library="js" name="nav.js" />
		<h:outputScript library="js" name="custom.js" />
	</h:head>

	<!--BODY-->
	<h:body>

		<!-- Wrap all page content here -->
		<!-- Header starts -->
		<header>
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<!-- Logo. Use class "color" to add color to the text. -->
					<div class="logo">
						<h1>
							<a href="#" class="thumbnail"><img src="../resources/img/ico/sokokitabu.png" alt="#{i18n.app}" class="img-responsive"/></a>
						</h1>	
						<p class="meta">swap or sell your old books!</p>
					</div>
				</div>

				<div class="col-md-5 col-md-offset-3">

					<!-- Search form -->
					<h:form class="form-inline" role="form">
						<div class="form-group">
							<h:inputText class="form-control" value="#{bookBean.searchWord}" />
						</div>
						<h:commandButton class="btn btn-default" value="#{i18n.search}"
							action="#{bookBean.performSearch()}" type="submit" />


						<div class="hlinks">
							<!-- Login and Register link -->
							<span class="lr"><h:link outcome="/pages/signin"
									role="button" value="#{i18n.logIn}"
									disabled="#{userBean.isLoggedIn()}" /> or <h:link
									outcome="/pages/signup" role="button" value="#{i18n.signUp}"
									disabled="#{userBean.isLoggedIn()}" /> or <h:commandLink
									action="#{userBean.logOut()}" value="#{i18n.logOut}"
									disabled="#{!userBean.isLoggedIn()}" /></span>
						</div>
					</h:form>
				</div>

			</div>
		</div>
		</header>
		<!-- Header ends -->
		<h:form id="navigationform">
			<!--navbar -->
			<div class="navbar bs-docs-nav" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse bs-navbar-collapse">
						<ul class="nav navbar-nav">
							<li><h:link outcome="/pages/main" value="#{i18n.home}" /></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">#{i18n.myAccount}<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><h:outputLink
											value="#{request.contextPath}/pages/myaccount.xhtml"
											disabled="#{!userBean.isLoggedIn()}">#{i18n.myAccount}</h:outputLink></li>
									<li><h:outputLink
											value="#{request.contextPath}/pages/mybooks.xhtml"
											disabled="#{!userBean.isLoggedIn()}">#{i18n.myBooks}</h:outputLink></li>
									<li><h:outputLink
											value="#{request.contextPath}/pages/mywishlist.xhtml"
											disabled="#{!userBean.isLoggedIn()}">#{i18n.myWishList}</h:outputLink></li>
									<li><h:outputLink
											value="#{request.contextPath}/pages/myinbox.xhtml"
											disabled="#{!userBean.isLoggedIn()}">#{i18n.myInbox}</h:outputLink></li>
									<li><h:outputLink
											value="#{request.contextPath}/pages/editprofile.xhtml"
											disabled="#{!userBean.isLoggedIn()}">#{i18n.editProfile}</h:outputLink></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">#{i18n.books}<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><h:commandLink
											action="#{bookBean.selectPrimaryLevel()}"
											value="#{i18n.primary}">
										</h:commandLink></li>
									<li><h:commandLink
											action="#{bookBean.selectSecondaryLevel()}"
											value="#{i18n.secondary}">
										</h:commandLink></li>
									<li><h:commandLink
											action="#{bookBean.selectHigherLevel()}"
											value="#{i18n.higher}">
										</h:commandLink></li>
									<li><h:commandLink
											action="#{bookBean.selectRecreationalLevel()}"
											value="#{i18n.recreational}">
										</h:commandLink></li>
								</ul></li>
							<li><h:outputLink
									value="#{request.contextPath}/pages/about.xhtml">#{i18n.about}</h:outputLink></li>
							<li><h:outputLink
									value="#{request.contextPath}/pages/contacts.xhtml">#{i18n.contact}</h:outputLink></li>

						</ul>

					</div>
					<!--/.nav-collapse -->
				</div>
			</div>

		</h:form>
		<!-- Begin page content -->
		<div class="container">
			<p:growl for="global"></p:growl>
			<ui:insert name="content">Default Content</ui:insert>
		</div>
		<span class="totop"><a href="#"> <span
				class="glyphicon glyphicon-top" />
		</a> </span>
	</h:body>
</f:view>
</html>