<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/resources/templates/template.xhtml">
	<ui:define name="content">

		<!-- Page content starts -->

		<div class="content error-page">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-5">
						<!-- Big 404 text -->
						<div class="big-text">404</div>
						<hr />
					</div>
					<div class="col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1">
						<h2>
							Oops<span class="color">!!!</span>
						</h2>
						<h4>Page Not Found</h4>
						<hr />
						<!-- Some site links -->
						<div class="horizontal-links">
							<h5>Take a look around our site</h5>
							<h:link outcome="/user/main" value="#{i18n.home}" />
							<h:link outcome="/user/about" value="#{i18n.about}" />
							<h:link outcome="/user/contact" value="#{i18n.contact}" />
						</div>
						<hr />
						<!-- Search form -->
						<div class="form">
							<h:form class="form-inline" role="form">
								<div class="form-group">
									<h:inputText class="form-control"
										value="#{bookBean.searchWord}" />
								</div>
								<h:commandButton class="btn btn-default" value="#{i18n.search}"
									action="#{bookBean.performSearch}" />
							</h:form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Page content ends -->

	</ui:define>
</ui:composition>